<h1>Hello <%= @user.name %></h1>

<% @pet.pet_categories.each do |pet_category| %>
<p>You're tracking <%= pet_category.category.name %> for <%= pet_category.pet.name.capitalize %></p>
<% end %>
  <%= link_to 'Go back to the website', root_url %>

