<div class="dog">
  <div class="head">
    <div class="ears"></div>
    <div class="eyes"></div>
    <div class="beard">
      <div class="mouth">
        <div class="tongue"></div>
      </div>
    </div>
  </div>
  <div class="belt"></div>
  <div class="stomach"></div>
  <div class="legs">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="tail"></div>
</div>
