<div class="plant-wrap">
  <div class="plant-base">
    <div class="flowerpot"></div>
    <div class="blade blade-center"></div>
    <div class="blade blade-left-s"></div>
    <div class="blade blade-right-s"></div>
    <div class="blade blade-left-l"></div>
    <div class="blade blade-right-l"></div>
  </div>
</div>
