<div class="d-flex justify-content-center align-items-center">

  <%= link_to 'Add a plant ðŸŒ±', new_plant_path, class: 'button-main' %>

  <%= link_to 'Add a pet ðŸ•', new_pet_path, class: 'button-main' %>
</div>
