<div id="main-banner" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(<%= asset_path 'background.png' %>); background-size: cover; background-position: center center;">
  <h1 id="main-title">
    <p>A new way of reminding you to care for</p>
    <span id="banner-typed-text"></span>
  </h1>
   <a id="main-btn" href="#" class="btn">Start now!</a>

  <div class="cat-and-plant d-flex justify-content-center align-items-end mt-5 pt-5">
      <%= render './partials/animated_plant' %>
      <%= render './partials/animated_dog' %>
  </div>
</div>
