<div class="footer ">
  <%= render './partials/running_dog' %>
  <div class="footer-links">
    <a href="#"><%= link_to 'About us', about_us_path %></a>
    <a href="#"><%= link_to 'Home', root_path %></a>
  </div>
</div>


