
  <div class="row justify-content-md-center">
    <div class="about-section col-6" style="text-align:center; padding-bottom: 20px">
      <h2><strong>About Us</strong></h2>
      <p>This app is the story of a French girl and an Uruguayan and Belgian guy joining forces for a common purpose.</p>
      <p>We all have pets and plants and have a really busy lifestyle. We often struggle to be on top of everything and we often forgot about the menial everyday tasks related to our pets and plants.</p>
      <p>Because they're living beings, we often felt a sense of impending doom on our routines, because we always ended up forgetting to do something related to them and they ended up suffering.</p>
      <p>That's why we designed <strong>The Doom Dodger,</strong> which will make anyone's life (and the ones of their pets and plants) a happier and easier one!</p>
    </div>
  </div>

<h2 style="text-align: center; padding-bottom: 20px"><strong>Our team</strong></h2>
  <div class=" d-flex justify-content-evenly" style="margin-top: 50px">
    <div class="column">
      <div class="about_card">
        <div class="container" style="text-align:center">
          <%= image_tag "Jojo.jpg", alt:"Joaquín with dog", class:"avatar-float" %>
          <div class="about_info">
            <h2>Joaquín</h2>
            <p class="title">The Uruguayan 🇺🇾</p>

            <p>Happy owner of <strong>Alex</strong></p>

            <p>joaquin@tidd.com</p>
            <p><button class="btn">Contact me</button></p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="about_card">
        <div class="container" style="text-align:center">
          <div><%= image_tag "Co.jpg", alt:"Coline with plant", class:"avatar-float" %></div>
            <div class="about_info">
              <h2>Coline</h2>
              <p class="title">The French 🇫🇷</p>

              <p>Happy owner of <strong>Penelope</strong> and <strong>Catalina</strong></p>

              <p>coline@tidd.com</p>
              <p><button class="btn">Contact me</button></p>
            </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="about_card">
        <div class="container" style="text-align:center">
          <%= image_tag "Ju.jpg", alt:"Julian with dogs", class:"avatar-float" %>
          <div class="about_info">
            <h2>Julian</h2>
            <p class="title">The Belgian 🇧🇪</p>

            <p>Happy owner of <strong>Hutch</strong> and <strong>Chip</strong></p>

            <p>julian@tidd.com</p>
            <p><button class="btn">Contact me</button></p>
          </div>
        </div>
      </div>
    </div>
    <%= render "./partials/pawsbackground" %>
  </div>

