<h2 class="mb-4"><strong>Your plant's profile</strong></h2>
<div>
  <% if @plant.image.attached? %>
    <%= cl_image_tag @plant.image.key, class: "show-img" %>
  <% end %>
</div>

<div class="show-main-card d-flex justify-content-between">
      <div class="id">
        <h1><strong> <%= @plant.nickname.capitalize %></strong></h1>
        <h3><%= @plant.species %></h3>
        <h4 style="color: #809C53"><strong>Alive</strong></h4>
      </div>
        <div class="d-flex flex-column align-items-end justify-content-between">
          <div class="p-2">
             <i class="far fa-bell big" style="font-size: 1.2rem;"></i>
          </div>
          <div class="d-flex align-items-end flex-column">
          </div>
      </div>
    </div>
