<h2 class="mb-4 text-center"><strong>Your plant's profile</strong></h2>
<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-start">
    <div>
      <% if @plant.image.attached? %>
        <%= cl_image_tag @plant.image.key, class: "show-img" %>
      <% end %>
    </div>

    <div class="ml-5">
      <h1><strong> <%= @plant.nickname %></strong></h1>
      <h3><%= @plant.species %></h3>
      <h3 style="color: #809C53"><strong>Alive</strong></h3>
    </div>

    <div class="pl-4">
      <i class="far fa-bell big"></i>
    </div>
  </div>
</div>
