/*
** The Header Media Queries **
** Tweak as per your needs **
*/

$small: 600px;

.brand {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.site-header {
  position: relative;
  background-color: #446C01;
  opacity: 68%;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__wrapper {
  position: fixed;
  top: 170px;
  right: 0;
  width: Max(220px, 20%);
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  background-color: #446C01;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  display: block;
  height: 180px;

  &.active {
    visibility: visible;
    opacity: 0.6;
    transform: translateX(0);
  }
}

.nav__item {
  border-bottom: 1px solid rgba(#000, 0.2);

  a {
    display: block;
    padding: 1rem;
    color: #FFFFFF;
  }
}

.nav__toggle {
  color: #FFFFFF;
  border: #FFFFFF;
  font-size: 25px;
  z-index: 1000;


&:hover {
  text-decoration: none;
}
}

.btn-green {
  background-color: #446C01;
  &:hover {
  background-color: #446C01
}
}
