/*
** The Header Media Queries **
** Tweak as per your needs **
*/

$small: 600px;

.brand {
  font-size: 25px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}


@media only screen and (max-width: 1024px) {
  .brand {
    display: none;
  }
}

a.brand {
  color: #ffffff;
}

a.brand:hover {
  color: #ffffff;
}

.site-header {
  position: relative;
  background-color: #809C53;
  opacity: 100%;
  box-shadow: -1px 9px 21px -6px rgba(189,189,189,0.78);

}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem,
}

.nav__wrapper {
  position: absolute;
  top: 90px;
  right: 0;
  width: Max(220px, 20%);
  bottom: 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  background-color: #809C53;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  display: block;
  height: 100vh;
  box-shadow: -1px 9px 21px -6px rgba(189,189,189,0.78);

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

.navbar-brand img {
  height: 50px;
}

.nav__item {

  a {
    display: block;
    padding: 1rem;
    color: #FFFFFF;
  }
}

.nav__toggle {
  color: #FFFFFF;
  border: #FFFFFF;
  font-size: 25px;
  z-index: 1000;


&:hover {
  text-decoration: none;
}
}

.btn-green {
  background-color: #809C53;
  &:hover {
  background-color: #809C53;
}
}

ul {
    list-style-type: none;
}

ul a:hover {
 color: #ffffff;
}

.navatar img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 20px;
  border: solid 3px  #FFFFFF;
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}
